<div class="row">
    <!-- Workout Block 1 iterate through weeks 1 - 4 -->
    <div class="col-md-3">
        <!-- workout list where workoutBlock.Id = 1 -->
        <app-workout-list (selectedWorkoutEvent)="selectedWorkout = $event"></app-workout-list>
    </div>

    <!-- Workout Block 2 iterate through weeks 5 - 8 -->
    <div class="col-md-3">
        <!-- workout list where workoutBlock.Id = 2 -->
        <app-workout-list (selectedWorkoutEvent)="selectedWorkout = $event"></app-workout-list>
    </div>

    <!-- Workout Block 3 iterate through weeks 9 - 12 -->
    <div class="col-md-3">
        <!-- workout list where workoutBlock.Id = 3 -->
        <app-workout-list (selectedWorkoutEvent)="selectedWorkout = $event"></app-workout-list>
    </div>
    <div class="col-md-1">
        <router-outlet></router-outlet>
    </div>
</div>
