<div class="panel panel-default">
    <div class="row" id="workout-list">
        <app-workout-item id="item" class="col-sm-auto" *ngFor="let workout of workouts" [workout]="workout"></app-workout-item>
    </div>
</div>


<!-- Block 2 -->
<!-- <div class="block">
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#block2" role="button" aria-expanded="false" aria-controls="collapseExample">
        Block 2
        </a>
    </p>
    <div class="collapse" id="block2">
        <div class="card card-body"> -->
        <!-- Fill this with Workout List -->
        <!-- <table>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr>
                <td>Week 5</td>	
            </tr>
            <tr>
                <td>Week 6</td>	
            </tr>
            <tr>
                <td>Week 7</td>	
            </tr>
            <tr>
                <td>Week 8</td>	
            </tr>
        </table>
        </div>
    </div>
</div> -->
<!-- Block 3 -->
<!-- <div class="block">
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#block3" role="button" aria-expanded="false" aria-controls="collapseExample">
        Block 3
        </a>
    </p>
    <div class="collapse" id="block3">
        <div class="card card-body"> -->
        <!-- Fill this with Workout List -->
        <!-- <table>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <tr>
                <td>Week 9</td>	
            </tr>
            <tr>
                <td>Week 10</td>	
            </tr>
            <tr>
                <td>Week 11</td>	
            </tr>
            <tr>
                <td>Week 12</td>	
            </tr>
            <tr>
                <td>Week 13</td>	
            </tr>
        </table>
        </div>
    </div>
</div> -->
